<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:name="com.daengs.app.map.review.MapReviewApplication"
        android:label="댕스 지도 검증" android:allowBackup="false"
        tools:replace="android:name,android:label,android:allowBackup">
        <activity android:name="com.daengs.app.MainActivity" android:enabled="false" />
        <activity android:name="com.daengs.app.ui.walk.review.DiaryEditorReviewActivity" android:exported="true" />
        <activity android:name="com.daengs.app.map.review.MapReviewActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
